<ion-content>
  <ion-row>
    <ion-col size-md="12">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle style="text-align: justify"
            >Somos BeeTec una empresa de desarrollo móvil comprometida en
            ofrecer soluciones innovadoras y de alta calidad para tus
            necesidades tecnológicas. Nuestro equipo de expertos en desarrollo
            de aplicaciones móviles está dedicado a crear experiencias únicas y
            funcionales para nuestros clientes.</ion-card-subtitle
          >
          <ion-card-title>¿Quienes somos?</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle style="text-align: justify"
          >En BeeTec, Ser agentes de cambio positivo, utilizando la tecnología
          como herramienta para resolver problemas y mejorar el bienestar de la
          comunidad.</ion-card-subtitle
        >
        <ion-card-title>Misión</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle style="text-align: justify">
          Visualizamos un futuro donde nuestras innovaciones transformen
          radicalmente la forma en que las personas enfrentan desafíos diarios,
          mejorando sus vidas de maneras inimaginables.
        </ion-card-subtitle>
        <ion-card-title>Visión</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-col size-md="4">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>
            <ul>
              <li>Innovación</li>
              <li>Compromiso</li>
              <li>Colaboración</li>
              <li>Sostenibilidad</li>
              <li>Transparencia</li>
            </ul>
          </ion-card-subtitle>

          <ion-card-title>Valores</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-md="12">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle style="text-align: justify"
            >Es una aplicación movil que incluye la variedad de recetas
            economicas y deliciosas para la comunidad foranea. Además, la
            aplicación podría incluir información sobre los ingredientes y las
            técnicas de cocina utilizadas en cada receta, lo que la hace útil.
            En cuanto a los mercados, la aplicación podría ofrecer una
            oportunidad de anuncios para los vendedores de alimentos y productos
            relacionados con la cocina. Los anuncios podrían ser relevantes para
            los usuarios de la aplicación, lo que aumentaría la probabilidad de
            que los usuarios hagan clic en ellos</ion-card-subtitle
          >
          <ion-card-title>"Sazón a la foranea"</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
