<ion-content>
  <form [formGroup]="form">
    <ion-card *ngIf="user">
      <div class="mt-3 ms-3 me-3">
        <input
          type="file"
          accept="image/*"
          id="fileInput"
          (change)="onFileSelected($event)"
          style="display: none"
        />

        <!-- Vista previa de la imagen -->
        <div
          class="mt-3 mb-3 align-content-center justify-content-center d-flex"
          (click)="openFileInput()"
        >
          <ion-avatar style="width: 200px; height: 200px">
            <img
              class="border-2"
              [src]="imageUrl || 'assets/img/SALF.png'"
              height="185px"
            />
          </ion-avatar>
        </div>
      </div>
    </ion-card>
    <ion-card>
      <div class="mt-3 ms-3 me-3">
        <ion-label class="mt-3">Llena cada uno de los campos</ion-label>
      </div>

      <div class="mt-3 ms-3 me-3">
        <ion-item>
          <ion-input
            formControlName="name"
            placeholder="Ej. Nombre de la receta"
          ></ion-input>
        </ion-item>
      </div>
      <div class="mt-3 ms-3 me-3">
        <ion-item>
          <ion-input
            [readonly]="true"
            type="email"
            formControlName="email"
            placeholder="Ej. nombre@gm.com"
          ></ion-input>
        </ion-item>
      </div>
      <div class="mt-3 ms-3 me-3">
        <ion-item>
          <ion-input
            type="number"
            formControlName="telefono"
            placeholder="Ej. 4535242323"
          ></ion-input>
        </ion-item>
      </div>
    </ion-card>
    <ion-card>
      <div class="mt-4">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button
            style="background-color: white; color: black"
            class="btn me-md-2 mb-3"
            (click)="cancelar()"
          >
            Cancelar
          </button>
          <button
            (click)="summit()"
            class="btn idBColor me-md-2 mb-4"
            [disabled]="form.valid === false"
          >
            Actualizar
          </button>
        </div>
      </div>
    </ion-card>
  </form>
</ion-content>
