<ion-content [fullscreen]="true">
  <div id="container" class="container" mode="ios">
    <form [formGroup]="formInicioSesion" (ngSubmit)="iniciarSesion()">
      <ion-card>
        <div class="container">
          <br />

          <input
            type="text"
            placeholder="Correo"
            formControlName="correo"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                formInicioSesion.get('correo')?.touched &&
                formInicioSesion.get('correo')?.invalid
            }"
          />

          <br />
          <div
          class="invalid-feedback"
          *ngIf="formInicioSesion.get('correo')?.hasError('pattern')"
        >
        Correo inválido.
      </div>
          <input
            type="password"
            placeholder="Contraseña"
            formControlName="password"
            [type]="mostrarPassword ? 'text' : 'password'"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                formInicioSesion.get('password')?.touched &&
                formInicioSesion.get('password')?.invalid
            }"
          />

          <div
            class="invalid-feedback"
            *ngIf="formInicioSesion.get('password')?.hasError('pattern')"
          >
            La contraseña debe tener al menos 8 caracteres, incluyendo una letra
            mayúscula, una letra minúscula, un carácter especial y al menos un
            número.
          </div>
          <br />
        </div>
        <br />
        <input
          type="checkbox"
          [checked]="mostrarPassword"
          (change)="mostrarPassword = !mostrarPassword"
        />
        <label for="mostrarContrasena" class="checkbox-label"
          >Mostrar contraseña</label
        >

        <div class="d-grid gap-2 container">
          <button type="button" class="btn idBColor" (click)="iniciarSesion()">
            Iniciar Sesión
          </button>
        </div>

        <p class="ion-text-center idText">
          ¿No tienes una cuenta? <a routerLink="/home/registro">Regístrate</a>
        </p>
      </ion-card>
    </form>
  </div>
</ion-content>
