<ion-content>
  <div class="container" style="margin-bottom: 100px">
    <form [formGroup]="form">
      <h3>Agrega tus datos</h3>

      <ion-card>
        <div class="mt-3 ms-3 me-3">
          <ion-label>Agrega una imagen a tu publicidad</ion-label>
          <input
            type="file"
            accept="image/*"
            id="fileInput"
            (change)="onFileSelected($event)"
            style="display: none"
          />

          <!-- Vista previa de la imagen -->
          <div
            class="mt-3 mb-3 align-content-center justify-content-center d-flex"
            (click)="openFileInput()"
          >
            <img
              class="border-2"
              [src]="imageUrl || 'assets/img/SALF.png'"
              height="185px"
            />
          </div>
        </div>
      </ion-card>

      <ion-card>
        <div class="mt-3 ms-3 me-3">
          <ion-label>Llena el siguiente formulario</ion-label>
        </div>

        <div class="mt-3 ms-3 me-3">
          <ion-item>
            <ion-input
              formControlName="name"
              type="text"
              placeholder="ej. 2x1 en carne de cerdo"
            ></ion-input>
          </ion-item>
        </div>

        <div class="mt-3 ms-3 me-3">
          <ion-item>
            <ion-input
              type="text"
              formControlName="description"
              placeholder="ej. Descripción del anuncio "
            ></ion-input>
          </ion-item>
        </div>
        <div class="mt-3 ms-3 me-3">
          <ion-item>
            <ion-input
              type="number"
              formControlName="cantidad"
              placeholder="ej. Número de muestras"
            ></ion-input>
            ${{ form.value.cantidad * 0.5 }}
          </ion-item>
        </div>

        <div class="mt-3 mb-3 ms-3 me-3">
          <ion-item>
            <ion-select
              formControlName="idStore"
              placeholder="Tienda a vincular"
            >
              <ion-select-option
                *ngFor="let item of stores"
                [value]="item._id"
                >{{ item.name }}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </div>
      </ion-card>

      <!-- Sección del mapa (se mostrará solo si la variable de bandera es verdadera) -->

      <div class="mt-4">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button
            style="background-color: white; color: black"
            class="btn me-md-2 mb-3"
            routerLink="/home/client/publicidad"
          >
            Cancelar
          </button>
          <button
            class="btn idBColor btn me-md-2 mb-3"
            (click)="onSubmit()"
            [disabled]="
              form.valid === false || file === null || guardarbtn === false
            "
          >
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</ion-content>
