<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title style="text-align: center">{{
        "nombre de la receta"
      }}</ion-card-title>
      <!-- <ion-item>
        <ion-avatar slot="start">
          <ion-img [src]="data.idUser.avatar"></ion-img>
        </ion-avatar>
        <ion-label>{{ data.idUser.name }}</ion-label>
      </ion-item> -->
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-col> </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
