<!-- Incluye jQuery antes de tu script -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="tus-scripts.js"></script>

<div class="card-group">
  <div *ngFor="let video of losVideos">
    <ion-card *ngIf="video.id.videoId">
      <img
      [src]="video.snippet.thumbnails.medium.url" alt="Thumbnail"
      >
      <ion-card-header>
        <ion-card-title>{{video.snippet.title}}</ion-card-title>
        <ion-card-subtitle>{{video.snippet.description}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Publicado: {{video.snippet.publishedAt | date}}
      </ion-card-content>
      <button class="btn btn-outline-primary" (click)="verVideo(video.id.videoId)">Ver Video</button>
    </ion-card>
  </div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div modal-body>
        <iframe width="560" height="315" src="videoId | youtube" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
      </div>
    </div>
  </div>
</div>
</div>
