<ion-content>
  <button class="btn idBColor" (click)="registerStore()">
    Registra una Tienda
  </button>

  <ion-row>
    <ion-col size-md="4" *ngFor="let item of items">
      <ion-card>
        <img alt="Silhouette of mountains" src="/assets/icon/favicon.png" />
        <ion-card-header>
          <ion-card-title>Card Title mhdsmndjdsnuh</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
