<ion-content>
  <ion-searchbar
    class="buscar"
    show-clear-button="focus"
    placeholder="Buscar recetas"
    animated
    (ionInput)="onSearch($event)"
  ></ion-searchbar>

  <ion-row>
    <ion-col
      size-md="2"
      *ngFor="let item of items; let i = index"
      [routerLink]="'/home/view-tienda/' + item._id"
    >
      <ion-card>
        <div [style.height.px]="280">
          <img [src]="item.image" loading="lazy" (load)="onImageLoad(i)" />
        </div>

        <div *ngIf="!imageLoaded[i]">
          <ion-skeleton-text
            [animated]="true"
            style="height: 200px"
          ></ion-skeleton-text>
        </div>
        <ion-card-header>
          <p>{{ item.description }}</p>
          <ion-card-title>{{ item.name }}</ion-card-title>
          <ion-card-subtitle class="align-content-center d-flex">
            {{ item.category }}
            <ngb-rating
              [max]="5"
              [rate]="calificacionPromedio(item.qualification)"
              style="font-size: 35px"
              [readonly]="true"
            ></ngb-rating>
          </ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-infinite-scroll
      *ngIf="items && cantidadDePaginas != paginaActual"
      (ionInfinite)="onIonInfinite($event)"
    >
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-row>
</ion-content>
