<ion-content>
  <div class="container" style="margin-bottom: 100px">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h3>Agrega tus datos</h3>

      <ion-card>
        <div class="mt-3 ms-3 me-3">
          <ion-label>Nombre de la Tienda</ion-label>
          <ion-input
            formControlName="nombreTienda"
            type="text"
            placeholder="ej. La palmas"
          ></ion-input>
        </div>
      </ion-card>

      <ion-card>
        <div class="mt-3 ms-3 me-3">
          <ion-label>Descripción</ion-label>
          <ion-input
            type="text"
            formControlName="descripcion"
            placeholder="ej. Tienda de abarrotes "
          ></ion-input>
        </div>
      </ion-card>
      <ion-card>
        <div class="mt-3 mb-3 ms-3 me-3">
          <ion-label>Tipo de tienda</ion-label>
          <ion-select formControlName="tipoTienda" placeholder="Typo de Tienda">
            <ion-select-option value="Ropa">Ropa</ion-select-option>
            <ion-select-option value="Abarrotes">Abarrotes</ion-select-option>
          </ion-select>
        </div>
      </ion-card>
      <ion-card>
        <div class="mt-3 ms-3 me-3">
          <ion-label>Logo</ion-label>
          <input
            type="file"
            id="fileInput"
            name="fileInput"
            class="form-control"
            accept="image/*"
            (change)="onFileSelected($event)"
          />
        </div>
      </ion-card>
      <!-- Sección del mapa (se mostrará solo si la variable de bandera es verdadera) -->
      <ion-card style="height: 40vh">
        <div id="map"></div>
      </ion-card>

      <div class="mt-4">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button
            style="background-color: white; color: black"
            class="btn me-md-2"
          >
            Cancelar
          </button>
          <button
            class="btn idBColor"
            type="submit"
            [disabled]="form.valid === false || file === null || lat === 0"
          >
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</ion-content>
