.pregunta-item {
  background-color: #f0f0f0; /* Cambia el color de fondo de las preguntas */
}

.pregunta-label {
  font-weight: bold; /* Cambia el peso de la fuente para las preguntas */
}

.respuesta-item {
  background-color: #e0e0e0; /* Cambia el color de fondo de las respuestas */
}

.respuesta-label {
  font-style: italic; /* Cambia el estilo de la fuente para las respuestas */
}
