<ion-header mode="ios">
  <ion-toolbar>
    <ion-title class="titulo"> {{ titulo }} </ion-title>
    <ion-list style="width: 380px">
      <ion-item>
        <ion-icon class="seleccion" name="person"></ion-icon>
        <ion-select
          class="seleccion"
          interface="action-sheet"
          placeholder="inicio"
        >
          <ion-select-option value="InicioSesión" herf="/home/inicioSesio"
            >Inicio Sesión</ion-select-option
          >
          <ion-select-option value="Registro">Registro</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-header>
