<ion-header mode="ios" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="idText"> Registrarse </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="container" mode="ios">
    <ion-card>
      <form [formGroup]="formReg">
      <div class="container">
        <br>
          
          <input type="text" placeholder="Nombre" class="form-control" >
          <br>
          
          <input type="email" formControlName="email" placeholder="Email" class="form-control" >
          <br>
        
          <input type="password" placeholder="contraseña" class="form-control" >
          <br>
          <input type="password" formControlName="password" placeholder="Confirma tu contraseña" class="form-control" >
          <br>
          <input type="checkbox" > <label for="mostrarContrasena" class="checkbox-label">Mostrar contraseña</label>
          
      </div>
    </form>
      <br>
      <div class="d-grid gap-2 container">
        <button  type="button" class="btn  idBColor" (click)="summit()">Registrarse</button>
      </div>
      
      <h2>O</h2>

      <div class="d-grid gap-2 container">
        <button type="button" class="btn idBColor " (click)="onClic()"> <ion-icon name="logo-google"></ion-icon> Registrarse con Google  </button>
      </div>
      
    </ion-card>
  </div>
</ion-content>
